/*++++++++++++++++++++++*/
/*                      */
/* variable definitions */
/*                      */
/*++++++++++++++++++++++*/

:root {
  /* theme colors */
  --white: #f9f9f9;
  --light-grey: #e9e9e9;

  --echo-black: #0a0b0d;
  --echo-surface: #181d29;
  --violette-light: #d8dde7;
  --orange: #f1c27d;

  /* text colors */
  --color-text: var(--echo-black);
  --color-title: var(--orange);

  /* background color */
  --color-background: var(--white);

  /* menu background color */
  --color-menu-background: var(--echo-black);

  /* footer background color */
  --color-footer-background: var(--echo-surface);

  /* menu text color */
  --color-menu-text: var(--white);

  /* highlight color */
  --color-highlight: var(--orange);

  /* highlight background */
  --color-highlight-background: var(--light-grey);

  /* navigation buttons */
  --color-navigation-button-background: var(--violette-light);

  /* text sizes */
  --font-size-text: clamp(1rem, 1.25vw, 1.5rem);
  --font-size-hero: clamp(1.1rem, 5vw, 8rem);
  --font-size-h1: clamp(1.1rem, 4vw, 6rem);
  --font-size-h2: clamp(1.1rem, 3vw, 5rem);
  --font-size-h3: clamp(1.05rem, 3vw, 5rem);
  --font-size-h4: clamp(1rem, 2vw, 2rem);

  /* font weight */
  --font-weight-hero: 800;
  --font-weight: 200;

  /* animation duration */
  --transistion-time: 350ms;

  /* maximal width for content */
   --max-width: 2300px;

  /* side spaceing for content */

  --side-padding: 5vw;
  --vertical-padding: clamp(24px, 5vw, 128px);


  /* menu width */
  --menu-width: 230px;

  /***************************/
  /*                         */
  /* break points            */
  /*                         */
  /* 824px / 1024px / 1200px */
  /*                         */
  /***************************/

}

/***************************/
/*                         */
/*   Setup                 */
/*                         */
/***************************/

html {
  scroll-behavior: smooth;

}

body {
  margin: 0px;
  background-color: var(--color-background);
  font-weight: var(--font-weight);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

/***************************/
/*                         */
/*   Focus                 */
/*                         */
/***************************/

:focus-visible, .slider:focus-visible {
  outline: 3px solid var(--color-highlight) ;
  border-radius: 3px;
}


/***************************/
/*                         */
/*   text setup            */
/*                         */
/***************************/

/* text style */


@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-VariableFont_wdth\,wght.ttf");
}


a,
p {
  font-size: var(--font-size-text);
  color: var(--color-text);
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.5;
}

/* heading style */

h1,
h2,
h3,
h4 {
  line-height: 1;
  letter-spacing: 0.02em;
  font-family: "Roboto";
  font-weight: 800;
}


h2 {
  margin-bottom: clamp(16px, 2vw, 48px);
  color: var(--color-text);
  text-transform: uppercase;
  font-size: var(--font-size-h2);
  text-align: left;
}

h3 {
  margin-bottom: clamp(16px, 2vw, 48px);
  color: var(--color-text);
  text-transform: uppercase;
  font-size: var(--font-size-h3);
  letter-spacing: 0.03em;
  text-align: left;
}

h4 {
  font-size: var(--font-size-h4);
  text-transform: uppercase;
}


/***************************/
/*                         */
/*   navigation menu       */
/*                         */
/***************************/


/* top row on mobile */

.top-row {
  background-color: var(--color-menu-background);
  color: var(--color-menu-text);
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-text);
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  @media only screen and (min-width: 824px) {
    visibility: hidden;
  }

  a {
    color: var(--color-menu-text);
    font-size: var(--font-size-text);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em;
  }

  p {
    cursor: pointer;
    color: var(--color-background);
  }

}

/* side navigation */

.navigation-side {

  background-color: var(--color-menu-background);
  position: fixed;
  margin-top: 70px;
  top: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  transform: translateX(-100vw);
  padding: 0rem;
  z-index: 1000;
  height: 100%;
  width: 0%;
  left: 0;
  overflow-x: hidden;
  padding-top: 1rem;

  transition: width var(--transistion-time) ease-in-out,
    padding-top var(--transistion-time) ease-in-out,
    transform var(--transistion-time) ease-in-out;

  @media only screen and (min-height: 480px) {
    padding-top: 8rem;
    row-gap: 4rem;
  }

  @media only screen and (min-width: 824px) {
    width: var(--menu-width);
    transform: translateX(0);
    margin-top: 0px;
  }

  @media only screen and (min-width: 1024px) {
    width: calc(var(--menu-width)*1.1);
  }

  ul {
    display: flex;
    row-gap: 1rem;
    column-gap: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;

    @media only screen and (min-width: 824px) {
      text-align: left;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  ul:first-of-type {
    display: none;

    @media only screen and (min-width: 824px) {
      display: flex;
    }

  }

  .close-button {
    text-align: end;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
    align-self: center;
    column-gap: 1rem;

    @media only screen and (min-width: 824px) {
      align-self: self-start;
    }
  }


  li {
    padding: 0;
  }

  a {
    color: var(--color-menu-text);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid var(--color-menu-background);
    transition: border-bottom var(--transistion-time) ease-in-out,
      font-size var(--transistion-time) ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--color-menu-text);
      ;
    }
  }

  @media only screen and (min-width: 824px) {
    a {
      font-size: 1.25em;
    }
  }

  @media only screen and (min-width: 1024px) {
    a {
      font-size: 1.5em;
    }

.active {
  font-weight: 800;
}

  }
}

/* open the menu when closed */

.menu-open {
  width: 100%;
  transform: translateX(0);
  visibility: visible;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 824px) {
    width: var(--menu-width);
  }

  @media only screen and (min-width: 1024px) {
    width: calc(var(--menu-width)*1.1);
  }
}

/* hamburger button */
.menu-button {
  font-size: var(--font-size-text);
  color: var(--color-menu-text);
  background-color: var(--color-menu-background);
  border: 1px solid var(--color-menu-background);
  padding: 0.5em;
  border: none;
  cursor: pointer;
  transition: rotate var(--transistion-time) ease-in-out,
    color var(--transistion-time) ease-in-out,
    background-color var(--transistion-time) ease-in-out;

  &:hover {

    color: var(--color-menu-background);
    background-color: var(--color-menu-text);
  }

  @media only screen and (min-width: 824px) {
    visibility: hidden;
  }

}


/***************************/
/*                         */
/*  main                   */
/*                         */
/***************************/

main {
  margin-left: 0;
  transition: margin-left var(--transistion-time);
  z-index: 0;

  @media only screen and (min-width: 824px) {
    margin-left: var(--menu-width);
    transition: margin-left var(--transistion-time);
  }

  @media only screen and (min-width: 1024px) {
    margin-left: calc(var(--menu-width)*1.1);
  }

}


/***************************/
/*                         */
/*   hero section          */
/*                         */
/***************************/

.hero-image {
  height: clamp(360px, 80vw, 100dvh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0px;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.1)), url("../assets/img/hero/hero-824.webp");

  @media only screen and (min-width: 824px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.1)), url("../assets/img/hero/hero-1024.webp");
  }

  @media only screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.1)), url("../assets/img/hero/hero-1920.webp");
  }

  /* position hero text */

  .hero-text {
    position: absolute;
    margin-top: 7.5rem;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* page title as hero text */

    div {
      Padding-left: 5%;
      padding-right: 5%;
    }

    div:first-of-type {
      text-align: left;

    }

    div:last-of-type {
      text-align: right;

    }

    h1 {
      color: var(--color-title);
      text-transform: uppercase;
      font-size: var(--font-size-hero);
    }
  }
}


/***************************/
/*                         */
/*   sections              */
/*                         */
/***************************/


/* side wrapper */

.wrapper {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--color-background);
}

section {
  max-width: var(--max-width);
  padding: var(--vertical-padding) var(--side-padding);
  margin-left: auto;
  margin-right: auto;


}


/***************************/
/*                         */
/*   Buttons               */
/*                         */
/***************************/

.shop-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  li {
    display: flex;
    background-color: var(--color-background);

    border: 1px solid var(--color-text);
    border-radius: 50%;

    width: clamp(60px, 5vw, 160px);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    transition: color var(--transistion-time) ease-in-out,
      background-color var(--transistion-time) ease-in-out;

    a {

      display: flex;
      text-decoration: none;
    }

    i {
      font-size: clamp(1.25rem, 2vw, 4rem);
      color: var(--color-text);
      transition: color var(--transistion-time) ease-in-out,
        background-color var(--transistion-time) ease-in-out;

    }

    &:hover {
      color: var(--color-main);
      background-color: var(--color-highlight);
      cursor: pointer;

    }
  }
}


/***************************/
/*                         */
/*   Grids                 */
/*                         */
/***************************/

/* standard grid with 2 colums */

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 5vw;
  justify-items: center;

  img {
    width: 100%;
    aspect-ratio: 1/1;
  }

  article {
    padding-top: 0rem;
    padding-bottom: 0rem;
    width: 100%;
  }

  p {
    font-size: var(--font-size-text);
    margin: auto;
    padding-bottom: 1em;
  }

  .release-meta {

    padding-bottom: 0;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    ;
  }
}


/* grid for audio player secton */

.grid-2-feature-box {

  width: fit-content;
  border: 1px solid var(--color-highlight-background);
  padding: 10%;
  filter: drop-shadow(1px 1px 20px);

  h2 {
    background-color: var(--color-background);
  }

}

/* grid with 4 colums */

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 5%;

  img {
    width: 100%
  }

  article {
    padding-top: 0rem;

  }

  .card {

    display: flex;
    flex-direction: column;

    p {
      align-self: start;
    }

    h4 {
      padding-bottom: 1em;
      width: 100%;

      align-self: start;
    }

    a {
      padding-top: 1em;
      text-decoration: none;
      ;
      font-weight: 600;
      display: block;
      color: var(--color-text);
    }

  }


  @media only screen and (min-width: 824px) {
    grid-template-columns: 1fr 1fr;
    ;

    h3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    h3 {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}


/***************************/
/*                         */
/*   Footer                */
/*                         */
/***************************/


footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-footer-background);
  color: var(--color-menu-text);
  padding: var(--vertical-padding) var(--side-padding);
  column-gap: 5%;
  row-gap: 2rem;


  @media only screen and (min-width: 824px) {
    margin-left: var(--menu-width);    grid-template-columns: 1fr 1fr;
  }


  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: calc(var(--menu-width)*1.1);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    li {

      a,
      p {
        color: var(--color-menu-text);
        text-decoration: none;
      }

      a {
        color: var(--color-menu-text);
        text-decoration: none;
        font-size: var(--font-size-text);
        border-bottom: 1px solid var(--color-menu-background);
        transition: border-bottom var(--transistion-time) ease-in-out;

        &:hover {
          border-bottom: 1px solid var(--color-menu-text);
          ;
        }
      }
    }
  }
}




/***************************/
/*                         */
/*   Scroll to top         */
/*                         */
/***************************/

#ScrollToTopButton {
  display: none;
  /* Hidden by default */
  height: 48px;
  width: 48px;
  position: fixed;
  bottom: 2rem;
  right: 3vw;
  z-index: 99;
  padding-top: 2px;
  text-align: center;
  border: solid 2px;
  border-radius: 50%;
  background-color: var(--color-navigation-button-background);
  color: var(--color-text);
  cursor: pointer;
  font-size: var(--font-mobile);
  opacity: 0.8;
  transition: var(--transistion-time);

  &:hover {
    background-color: var(--color-highlight);
    opacity: 1;
  }
}