/*++++++++++++++++++++++*/
/*                      */
/* variable definitions */
/*                      */
/*++++++++++++++++++++++*/

:root {
  /* theme colors */
  --white: #eee;

  --black: #111;
  --dark-grey: #333;
  --light-grey: #bbbbbb;

  /*++++++++++++++++++++++*/
  /*                      */
  /*     light mode       */
  /*                      */
  /*++++++++++++++++++++++*/

  /* text colors */
  --color-main:
    --color-main-title: --color-hero-text: --color-text:
    /* background color */
    --color-background: var(--white);

  /* hover color */
  --color-highlight:


    /* colors for feature section */
    --color-text-feature: --color-feature-background:;
  /* color for decoration */


  /* other variables */

  --font-size-hero: clamp(3rem, 5vw, 8rem);
  --font-size-h1: clamp(2rem, 5vw, 5rem);
  --font-size-h2: clamp(2rem, 4vw, 4rem);

  /* font weight */
  --font-weight-hero: 800;
  --font-weight: 200;

  /* animation duration */
  --transistion-time: 350ms;

  /* maximal width for content */
  --maxwidth: 1300px;

  /* side spaceing for content */
  --side-padding: 16px;

  /* fontsize mobile */
  --font-mobile: 1rem;

  /* fontsize tablet */
  --font-tablet: 1.1rem;

  /* fontsize laptop */
  --font-laptop: 1.2rem;

}



body {
  margin: 0px;
  background-color: var(--color-background);
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-weight: var(--font-weight);
}

li,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.hero-image {
  height: clamp(360px, 80vw, 80dvh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: sticky;*/
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  z-index: -10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("../assets/img/hero/hero-5.jpg");

  @media only screen and (min-width: 824px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("../assets/img/hero/hero-5.jpg");
  }

  /* position hero text */

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    width: 100%;

    /* page title as hero text */

    h1 {
      color: var(--white);
      text-transform: uppercase;
      font-size: var(--font-size-hero);
      line-height: 1;
      color: var(--white);
      letter-spacing: 0.10em;
      font-family: "Roboto";
      font-weight: 800;
      max-width: 50%;
      Padding-left: 10%;
      text-align: left;
    }

    /* second line hero text */
    p {
      color: var(--color-hero-text);
      padding-bottom: 0rem;
    }

  }

}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;

  img {
    width: auto;
    max-width: 100%;
  }

  p {
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 1rem;
    max-width: 80%;
    margin: auto;
  }

  @media only screen and (min-width: 824px) {
    grid-template-columns: 1fr 1fr;
    ;
  }
}

.grid-audio-player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem;
  ;

  img {
    width: auto;
    max-width: 100%;
  }

  li {
    padding: 2rem 2rem;
    background-color: #333;
  }

  p {
    font-size: clamp(1rem, 2vw, 2rem);
    color: var(--white);

  }

  button {
    background-color: var(--color-main);
    color: var(--white);
    border: 1px solid var(--white);
    width: clamp(50px, 4vw, 100px);
    height: clamp(50px, 4vw, 100px);
    border-radius: 50%;
    font-size: clamp(1rem, 1vw, 2rem);
    justify-self: center;

    transition: color var(--transistion-time), background-color var(--transistion-time);


    &:hover {
      color: var(--color-main);
      background-color: var(--white);
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 576px) {
    grid-template-columns: 1fr 1fr 1fr;
    ;
  }

  @media only screen and (min-width: 824px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    ;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    ;
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    ;
  }
}